<ion-header [translucent]="true">
  <ion-toolbar color="azulmr">
    <ion-title class="center">
      JONASÉRIES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-title class="center" >
    SUGESTÕES DE SÉRIES
  </ion-title>

  <ion-grid class="ion-text-center ion-no ion-no-padding "  >

    <ion-row  class="ion-no-padding" >

      <ion-col  class="ion-no-padding" >
        <ion-card >
          <img src="https://de.web.img3.acsta.net/pictures/15/09/17/10/07/237676.jpg" >
          <ion-item lines="none" class="ion-no-padding">
            <ion-label >
              GREY´S ANATOMY
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="danger">+14</ion-badge>
            <ion-note slot="end" color="dark">17 temporadas</ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://pm1.narvii.com/6697/57eaa7c621feac6836a87eb55abdb7a1ab5055ce_hq.jpg" >
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              ARROW
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="danger">+15</ion-badge>
            <ion-note slot="end" color="dark">8 temporadas</ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid class="ion-text-center ion-no ion-no-padding "  >

    <ion-row  class="ion-no-padding" >

      <ion-col  class="ion-no-padding" >
        <ion-card >
          <img src="https://images-na.ssl-images-amazon.com/images/I/51uq-sIeWKL._AC_.jpg" >
          <ion-item lines="none" class="ion-no-padding">
            <ion-label >
              STANGER THINGS
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="success">L</ion-badge>
            <ion-note slot="end" color="dark">4 temporadas</ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://br.web.img3.acsta.net/c_310_420/medias/nmedia/18/84/39/36/20115328.jpg" >
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              SUITS
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="danger">+18</ion-badge>
            <ion-note slot="end" color="dark">9 temporadas</ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid class="ion-text-center ion-no ion-no-padding "  >

    <ion-row  class="ion-no-padding" >

      <ion-col  class="ion-no-padding" >
        <ion-card >
          <img src="https://upload.wikimedia.org/wikipedia/pt/3/37/Luke_Cage_season_1_poster.jpeg" >
          <ion-item lines="none" class="ion-no-padding">
            <ion-label >
             LUKE CAGE
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="success">L</ion-badge>
            <ion-note slot="end" color="dark">2 temporadas</ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://i.imgur.com/JWhD7Ax.jpg" >
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              THE 100
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="danger">+16</ion-badge>
            <ion-note slot="end" color="dark">7 temporadas</ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid class="ion-text-center ion-no ion-no-padding "  >

    <ion-row  class="ion-no-padding" >

      <ion-col  class="ion-no-padding" >
        <ion-card >
          <img src="https://http2.mlstatic.com/D_NQ_NP_665177-MLB29111752132_012019-O.jpg" >
          <ion-item lines="none" class="ion-no-padding">
            <ion-label >
             TEEN WOLF
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="danger">+14</ion-badge>
            <ion-note slot="end" color="dark">6 temporadas</ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://scale.coolshop-cdn.com/product-media.coolshop-cdn.com/AE95JT/00ee54ef763e4bb0a83a0da53f06f922.jpeg/f/glee-hele-saeson-2-7-disc-dvd.jpeg?width=580" >
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              GLEE
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="success">L</ion-badge>
            <ion-note slot="end" color="dark">6 temporadas</ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid class="ion-text-center ion-no ion-no-padding "  >

    <ion-row  class="ion-no-padding" >

      <ion-col  class="ion-no-padding" >
        <ion-card >
          <img src="https://poltronanerd.com.br/wp-content/uploads/2021/01/poltrona-cobra-kai-poster.jpg" >
          <ion-item lines="none" class="ion-no-padding">
            <ion-label >
              COBRA KAI
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="success">L</ion-badge>
            <ion-note slot="end" color="dark">3 temporadas</ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://upload.wikimedia.org/wikipedia/pt/3/34/The_Walking_Dead_Season_3_Official_Poster.jpg" >
          <ion-item lines="none" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              THE WALKING DEAD
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="danger">+15</ion-badge>
            <ion-note slot="end" color="dark">8 temporadas</ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
